body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.logo-title {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    padding: 0 200px;
    background-color: #1F2937;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    font-size: 18px;
    font-weight: 900;
    padding: 6px 12px;
    border-radius: 5px;
    align-self: flex-start;
}

.hero-image {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    flex: 1;
    margin-top: 50px;


}

.hero-image img {
    width: auto;
    max-height: 350px;
    max-width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    color: #e5e7eb;
    font-size: 18px;
    flex: 1;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    gap: 20px;
}

.drivers {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.driver {
  width: 320px;
  text-align: center;
}

.driver img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.photo-credit {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.driver-stats {
  margin-top: 16px;
  font-size: 14px;
}
